// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Waveshare ESP32-S3-Touch-LCD-3.49 V2";
	compatible = "waveshare,esp32-s3-touch-lcd-3.49-v2",
		     "esp,esp32s3";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&pic>;

	aliases {
		serial0 = &usb_serial_jtag;
	};

	chosen {
		bootargs = "earlycon";
		stdout-path = "serial0";
	};

	memory@3c300000 {
		device_type = "memory";
		reg = <0x3c300000 0x004f0000>;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			compatible = "cdns,xtensa-cpu";
			device_type = "cpu";
			reg = <0>;
			clocks = <&cpu_clk>;
		};
	};

	clocks {
		cpu_clk: cpu-clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <240000000>;
		};
	};

	intc: interrupt-controller@600c2000 {
		compatible = "esp,esp32s3-intc";
		reg = <0x600c2000 0x1000>;
		interrupt-parent = <&pic>;
		interrupts = <2 0>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};

	usb_serial_jtag: serial@60038000 {
		compatible = "esp,esp32s3-usb-serial-jtag";
		reg = <0x60038000 0x1000>;
		interrupt-parent = <&intc>;
		interrupts = <96 IRQ_TYPE_LEVEL_HIGH>;
	};

	pinctrl: pinctrl@60004000 {
		compatible = "esp,esp32s3-pinctrl";
		reg = <0x60004000 0x700>, <0x60009000 0x100>;
		reg-names = "gpio", "iomux";
		interrupt-parent = <&intc>;
		interrupts = <16 IRQ_TYPE_LEVEL_HIGH>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&pinctrl 0 0 49>;
		gpio-reserved-ranges = <19 2>, <22 16>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};

	pic: interrupt-controller {
		compatible = "cdns,xtensa-pic";
		#address-cells = <0>;
		#interrupt-cells = <2>;
		interrupt-controller;
	};
};
