// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;

#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/clock/esp32s3.h>
#include <dt-bindings/dma/esp32s3-gdma.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/reset/esp32s3.h>

/ {
	model = "Waveshare ESP32-S3-Touch-LCD-3.49 V2";
	compatible = "waveshare,esp32-s3-touch-lcd-3.49-v2",
		     "esp,esp32s3";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&pic>;

	aliases {
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		serial0 = &usb_serial_jtag;
		spi0 = &spi3;
		spi1 = &spi2;
	};

	chosen {
		bootargs = "earlycon";
		stdout-path = "serial0";
	};

	memory@3c300000 {
		device_type = "memory";
		reg = <0x3c300000 0x004f0000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		gdma_pool: dma-pool@3fc88000 {
			compatible = "shared-dma-pool";
			reg = <0x3fc88000 0x8000>;
			no-map;
		};
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			compatible = "cdns,xtensa-cpu";
			device_type = "cpu";
			reg = <0>;
			clocks = <&cpu_clk>;
		};
	};

	clocks {
		cpu_clk: cpu-clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <240000000>;
		};

		xtal: xtal-clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <40000000>;
		};
	};

	syscon: clock-controller@600c0000 {
		compatible = "esp,esp32s3-system-controller";
		reg = <0x600c0000 0x1000>;
		clocks = <&xtal>;
		#clock-cells = <1>;
		#reset-cells = <1>;
	};

	spi2: spi@60024000 {
		compatible = "esp,esp32s3-spi";
		reg = <0x60024000 0x1000>;
		clocks = <&syscon ESP32S3_CLK_SPI2>;
		resets = <&syscon ESP32S3_RST_SPI2>;
		interrupt-parent = <&intc>;
		interrupts = <21 IRQ_TYPE_LEVEL_HIGH>;
		dmas = <&gdma ESP32S3_GDMA_TRIG_SPI2 ESP32S3_GDMA_DIR_RX>,
		       <&gdma ESP32S3_GDMA_TRIG_SPI2 ESP32S3_GDMA_DIR_TX>;
		dma-names = "rx", "tx";
		pinctrl-names = "default";
		pinctrl-0 = <&spi2_cs0_pin &spi2_clk_pin &spi2_d_pin
			     &spi2_q_pin>;
		#address-cells = <1>;
		#size-cells = <0>;

		mmc@0 {
			compatible = "mmc-spi-slot";
			reg = <0>;
			spi-max-frequency = <20000000>;
			voltage-ranges = <3300 3300>;
			broken-cd;
			disable-wp;
		};
	};

	spi3: spi@60025000 {
		compatible = "esp,esp32s3-spi";
		reg = <0x60025000 0x1000>;
		clocks = <&syscon ESP32S3_CLK_SPI3>;
		resets = <&syscon ESP32S3_RST_SPI3>;
		interrupt-parent = <&intc>;
		interrupts = <22 IRQ_TYPE_LEVEL_HIGH>;
		dmas = <&gdma ESP32S3_GDMA_TRIG_SPI3 ESP32S3_GDMA_DIR_RX>,
		       <&gdma ESP32S3_GDMA_TRIG_SPI3 ESP32S3_GDMA_DIR_TX>;
		dma-names = "rx", "tx";
		pinctrl-names = "default";
		pinctrl-0 = <&spi3_cs0_pin &spi3_clk_pin &spi3_d_pin
			     &spi3_q_pin &spi3_wp_pin &spi3_hd_pin>;
		#address-cells = <1>;
		#size-cells = <0>;
	};

	gdma: dma-controller@6003f000 {
		compatible = "esp,esp32s3-gdma";
		reg = <0x6003f000 0x1000>;
		clocks = <&syscon ESP32S3_CLK_GDMA>;
		resets = <&syscon ESP32S3_RST_GDMA>;
		interrupt-parent = <&intc>;
		interrupts = <65 IRQ_TYPE_LEVEL_HIGH>,
			     <66 IRQ_TYPE_LEVEL_HIGH>,
			     <67 IRQ_TYPE_LEVEL_HIGH>,
			     <68 IRQ_TYPE_LEVEL_HIGH>,
			     <69 IRQ_TYPE_LEVEL_HIGH>,
			     <70 IRQ_TYPE_LEVEL_HIGH>,
			     <71 IRQ_TYPE_LEVEL_HIGH>,
			     <72 IRQ_TYPE_LEVEL_HIGH>,
			     <73 IRQ_TYPE_LEVEL_HIGH>,
			     <74 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "rx0", "rx1", "rx2", "rx3", "rx4",
				  "tx0", "tx1", "tx2", "tx3", "tx4";
		memory-region = <&gdma_pool>;
		dma-channels = <10>;
		dma-requests = <10>;
		#dma-cells = <2>;
	};

	adc: adc@60008800 {
		compatible = "esp,esp32s3-adc";
		reg = <0x60008800 0x200>, <0x6000e000 0x100>;
		reg-names = "sens", "analog";
		pinctrl-names = "default";
		pinctrl-0 = <&adc1_channel3_pin>;
		#address-cells = <1>;
		#size-cells = <0>;
		#io-channel-cells = <1>;

		channel@3 {
			reg = <3>;
			esp,attenuation = <2>;
			label = "battery-divider";
		};
	};

	ledc: pwm@60019000 {
		compatible = "esp,esp32s3-ledc";
		reg = <0x60019000 0x1000>;
		clocks = <&syscon ESP32S3_CLK_LEDC>;
		resets = <&syscon ESP32S3_RST_LEDC>;
		pinctrl-names = "default";
		pinctrl-0 = <&ledc_ls0_pin>;
		#pwm-cells = <3>;
	};

	lcd_backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&ledc 0 50000 PWM_POLARITY_INVERTED>;
		enable-gpios = <&tca9554 1 GPIO_ACTIVE_HIGH>;
		brightness-levels = <0 255>;
		num-interpolated-steps = <255>;
		default-brightness-level = <0>;
	};

	i2c0: i2c@60013000 {
		compatible = "esp,esp32s3-i2c";
		reg = <0x60013000 0x1000>;
		clocks = <&syscon ESP32S3_CLK_I2C0>;
		resets = <&syscon ESP32S3_RST_I2C0>;
		interrupt-parent = <&intc>;
		interrupts = <42 IRQ_TYPE_LEVEL_HIGH>;
		clock-frequency = <400000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c0_scl_pins &i2c0_sda_pins>;
		#address-cells = <1>;
		#size-cells = <0>;

		tca9554: gpio@20 {
			compatible = "ti,tca9554";
			reg = <0x20>;
			interrupt-parent = <&pinctrl>;
			interrupts = <8 IRQ_TYPE_LEVEL_LOW>;
			gpio-controller;
			#gpio-cells = <2>;
			interrupt-controller;
			#interrupt-cells = <2>;
			gpio-line-names = "tp-int", "backlight-enable",
					  "imu-int1", "imu-int2", "rtc-int",
					  "lcd-reset", "system-enable", "exio7";
		};

		rtc@51 {
			compatible = "nxp,pcf85063a";
			reg = <0x51>;
			interrupt-parent = <&tca9554>;
			interrupts = <4 IRQ_TYPE_LEVEL_LOW>;
			quartz-load-femtofarads = <12500>;
		};
	};

	i2c1: i2c@60027000 {
		compatible = "esp,esp32s3-i2c";
		reg = <0x60027000 0x1000>;
		clocks = <&syscon ESP32S3_CLK_I2C1>;
		resets = <&syscon ESP32S3_RST_I2C1>;
		interrupt-parent = <&intc>;
		interrupts = <43 IRQ_TYPE_LEVEL_HIGH>;
		clock-frequency = <400000>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c1_scl_pins &i2c1_sda_pins>;
		#address-cells = <1>;
		#size-cells = <0>;

		touchscreen@3b {
			compatible = "axs,axs15231b";
			reg = <0x3b>;
			interrupt-parent = <&tca9554>;
			interrupts = <0 IRQ_TYPE_EDGE_FALLING>;
			touchscreen-size-x = <640>;
			touchscreen-size-y = <172>;
		};
	};

	intc: interrupt-controller@600c2000 {
		compatible = "esp,esp32s3-intc";
		reg = <0x600c2000 0x1000>;
		interrupt-parent = <&pic>;
		interrupts = <2 0>;
		interrupt-controller;
		#interrupt-cells = <2>;
	};

	usb_serial_jtag: serial@60038000 {
		compatible = "esp,esp32s3-usb-serial-jtag";
		reg = <0x60038000 0x1000>;
		interrupt-parent = <&intc>;
		interrupts = <96 IRQ_TYPE_LEVEL_HIGH>;
	};

	pinctrl: pinctrl@60004000 {
		compatible = "esp,esp32s3-pinctrl";
		reg = <0x60004000 0x700>, <0x60009000 0x100>,
		      <0x60008400 0x100>;
		reg-names = "gpio", "iomux", "rtcio";
		interrupt-parent = <&intc>;
		interrupts = <16 IRQ_TYPE_LEVEL_HIGH>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&pinctrl 0 0 49>;
		gpio-reserved-ranges = <19 2>, <22 16>;
		interrupt-controller;
		#interrupt-cells = <2>;

		adc1_channel3_pin: adc1-channel3-pin {
			pins = "gpio4";
			function = "analog";
			bias-disable;
			input-disable;
		};

		i2c0_scl_pins: i2c0-scl-pins {
			pins = "gpio48";
			function = "i2c0-scl";
			bias-pull-up;
			drive-open-drain;
			input-enable;
		};

		i2c0_sda_pins: i2c0-sda-pins {
			pins = "gpio47";
			function = "i2c0-sda";
			bias-pull-up;
			drive-open-drain;
			input-enable;
		};

		i2c1_scl_pins: i2c1-scl-pins {
			pins = "gpio18";
			function = "i2c1-scl";
			bias-pull-up;
			drive-open-drain;
			input-enable;
		};

		i2c1_sda_pins: i2c1-sda-pins {
			pins = "gpio17";
			function = "i2c1-sda";
			bias-pull-up;
			drive-open-drain;
			input-enable;
		};

		spi2_cs0_pin: spi2-cs0-pin {
			pins = "gpio38";
			function = "spi2-cs0";
			drive-push-pull;
		};

		spi2_clk_pin: spi2-clk-pin {
			pins = "gpio41";
			function = "spi2-clk";
			drive-push-pull;
		};

		spi2_d_pin: spi2-d-pin {
			pins = "gpio39";
			function = "spi2-d";
			drive-push-pull;
			input-enable;
		};

		spi2_q_pin: spi2-q-pin {
			pins = "gpio40";
			function = "spi2-q";
			drive-push-pull;
			input-enable;
		};

		spi3_cs0_pin: spi3-cs0-pin {
			pins = "gpio9";
			function = "spi3-cs0";
			drive-push-pull;
		};

		spi3_clk_pin: spi3-clk-pin {
			pins = "gpio10";
			function = "spi3-clk";
			drive-push-pull;
		};

		spi3_d_pin: spi3-d-pin {
			pins = "gpio11";
			function = "spi3-d";
			drive-push-pull;
			input-enable;
		};

		spi3_q_pin: spi3-q-pin {
			pins = "gpio12";
			function = "spi3-q";
			drive-push-pull;
			input-enable;
		};

		spi3_wp_pin: spi3-wp-pin {
			pins = "gpio13";
			function = "spi3-wp";
			drive-push-pull;
			input-enable;
		};

		spi3_hd_pin: spi3-hd-pin {
			pins = "gpio14";
			function = "spi3-hd";
			drive-push-pull;
			input-enable;
		};

		ledc_ls0_pin: ledc-ls0-pin {
			pins = "gpio42";
			function = "ledc-ls0";
			drive-push-pull;
		};
	};

	pic: interrupt-controller {
		compatible = "cdns,xtensa-pic";
		#address-cells = <0>;
		#interrupt-cells = <2>;
		interrupt-controller;
	};
};
